:root {
	--dark: #374151;
	--darker: #1F2937;
	--darkest: #111827;
	--grey: #6B7280;
	--pink: #EC4899;
	--purple: #8B5CF6;
	--light: #EEE;
    --blue: #51e2f5;
    --MedPurple: #d0bdf4;
    --sand: hsl(10, 88%, 24%);
}

* {
	margin: 0;
	box-sizing: border-box;
	font-family: "Fira sans", sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	color: #FFF;
	background-image: linear-gradient(45deg, var(--blue),var(--MedPurple));
}

header {
	padding: 2rem 1rem;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

header h1{ 
	font-size: 2.5rem;
	font-weight: 00;
	color: #FC4A1A;
	display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

header h2{ 
	font-size: 1.5rem;
	font-weight: 700;
	color: var(--dark);
	margin-bottom: 0.7rem;
    
}

#new-task-form {
	display: flex;;
}

input, button {
	appearance: none;
	border: none;
	outline: none;
	background: none;
}

#new-task-input {
	flex: 1 1 0%;
	background-color: var(--darker);
	padding: 1rem;
	border-radius: 1rem;
	margin-right: 1rem;
	color: var(--light);
	font-size: 1.25rem;
}

#new-task-input::placeholder {
	color: var(--grey);
}

#new-task-submit {
	color: var(--pink);
	font-size: 1.15rem;
	font-weight: 700;
	background-image: linear-gradient(to right, var(--pink),var(--purple));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	cursor: pointer;
	transition: 0.4s;
}

#new-task-submit:hover {
	opacity: 0.8;
    border: solid black 2px;
    border-radius: 25px;
}

#new-task-submit:active {
	opacity: 0.6;
}

main {
	flex: 1 1 0%;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

footer {
	flex: 1 1 0%;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

.task-list {
	padding: 1rem;
}

.completed-list {
	padding: 1rem;
}

.task-list h2 {
	font-size: 1.5rem;
	font-weight: 700;
	color: var(--dark);
	margin-bottom: 1rem;
}

.completed-list h2 {
	font-size: 1.5rem;
	font-weight: 700;
	color: var(--dark);
	margin-bottom: 0.7rem;
}

#tasks .task {
	display: flex;
	justify-content: space-between;
	background-color: var(--darkest);
	padding: 1rem;
	border-radius: 1rem;
	margin-bottom: 0.7rem;
}

#f-tasks .task {
	display: flex;
	justify-content: space-between;
	background-color: var(--darkest);
	padding: 1rem;
	border-radius: 1rem;
	margin-bottom: 0.7rem;
}

.task .content {
	flex: 1 1 0%;
}

.f-task .content {
	flex: 1 1 0%;
}

.task .content .text {
	color: var(--light);
	font-size: 1.125rem;
	width: 100%;
	display: block;
	transition: 0.4s;
}


.task .content .text:not(:read-only) {
	color: var(--pink);
}


.task .actions {
	display: flex;
	margin: 0 -0.5rem;
}


.task .actions button {
	cursor: pointer;
	margin: 0 0.5rem;
	font-size: 1.125rem;
	font-weight: 700;
	text-transform: uppercase;
	transition: 0.4s;
}



.task .actions button:hover {
	opacity: 0.8;
}



.task .actions button:active {
	opacity: 0.6;
}
 


.task .actions .edit {
	background-image: linear-gradient(to right, var(--pink), var(--purple));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.task .actions .delete {
	color: crimson;
}
.task .actions .finish{
    color: #7ee157;
}